Package: com.baza.swipeuplock
Name: swipeuplock
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: roll
Author: roll
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
